<div class="flex justify-center">
  <section>
    <div class="px-4 py-32 mx-auto lg:flex">
      <div class="max-w-xl mx-auto text-center">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
          Welcome To Reading List EX
        </h1>

        <p class="mt-4 sm:leading-relaxed sm:text-xl">
          Keep track of your books here! More features coming.
        </p>
      </div>
    </div>
  </section>
</div>
