
<table class="table-auto w-4/5 mx-auto justify-center">
  <thead>
    <tr>
      <th>Isbn 13</th>

      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for book <- @books do %>
    <tr>
      <td><%= book.book.isbn_13 %></td>
      <td><%= book.book.title %></td>
      <td >
        <span class="grid justify-center mx-auto"><%= link "Delete", to: Routes.profile_books_path(@conn, :delete, book.id), method: :delete %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
