<h1>Show Profile</h1>

<ul>

  <li>
    <strong>First name:</strong>
    <%= @profile.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= @profile.last_name %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @profile.username %>
  </li>

  <li>
    <strong>Favorite genre:</strong>
    <%= @profile.favorite_genre %>
  </li>

</ul>

<span><%= link "Back", to: Routes.profiles_path(@conn, :index) %></span>
